<h2 mat-dialog-title>Adicionar Cliente</h2>
<form [formGroup]="form" (ngSubmit)="addEditarCliente()">
  <mat-dialog-content class="mat-typography">
    <div class="row">
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input formControlName="nome" matInput placeholder="Insira o nome" autocomplete="off">
        </mat-form-field>
        <div class="error">
          <span *ngIf="form.get('nome')?.hasError('required') && form.get('nome')?.touched">Nome com valor <strong>Inválido</strong></span>
          <span *ngIf="form.get('nome')?.hasError('maxlength')">Nome com muitas caracteres</span>
        </div>
      </div>
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>Sobrenome</mat-label>
          <input formControlName="sobrenome" matInput placeholder="Insira o sobrenome" autocomplete="off">
        </mat-form-field>
        <div class="error">
          <span *ngIf="form.get('sobrenome')?.hasError('required') && form.get('sobrenome')?.touched">Sobrenome com valor <strong>Inválido</strong></span>
          <span *ngIf="form.get('sobrenome')?.hasError('maxlength')">Sobrenome com muitas caracteres</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input formControlName="email" matInput placeholder="Insira o e-mail" autocomplete="off">
        </mat-form-field>
        <div class="error">
          <span *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">E-mail com valor <strong>Inválido</strong></span>
          <span *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">E-mail inválido</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <mat-form-field>
          <mat-label>Data de nascimento</mat-label>
          <input [max]="maxDate" formControlName="dataNascimento" matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="error">
          <span *ngIf="form.get('dataNascimento')?.hasError('required') && form.get('dataNascimento')?.touched">Data de nascimento com valor <strong>Inválido</strong></span>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" (click)="cancelar()" mat-button>Cancelar</button>
    <button [disabled]="form.invalid" type="submit" mat-button cdkFocusInitial>Criar</button>
  </mat-dialog-actions>
</form>