.example-spacer {
    flex: 1 1 auto;
  }

.account-menu {
  padding: 5px;
  margin: 0 auto;
}

.botao-menu {
  padding: 5px;
}

.rafa{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}