*{
    
    
}

.navbar{
    height: 100px;
}
.topo{
    height: 50px;
    width: 100%;
    background-color: red;
}
#sub-topo{
    font-size: 20px;
    height: 30px;
    
}

.meio{
   width: 500px;   
    background-color: antiquewhite;   
    margin: auto;
    border-radius: 30px;
    box-shadow: 10px 10px 8px 10px #888888;
    
    
}

h2{
    font-size: 28px;
}

.submeio{
  text-align: center;
    margin: auto;
    width: 500px;
    height: 500px;
}

p{
    font-size: 25px;
}