<mat-toolbar color="primary">
    <span style="padding: 10px;">
        <mat-icon [routerLink]="['/home']" style="cursor: pointer;">arrow_back</mat-icon>
    </span>
    <span>Livros</span>
</mat-toolbar>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<mat-card *ngIf="!loading">
    <mat-card-content>
        <mat-form-field>
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input autocomplete="off">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addEditarLivro()">Adicionar livro</button>
        <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z11">
            <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo do livro </th>
                <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
            </ng-container>
            <ng-container matColumnDef="autor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Autor </th>
                <td mat-cell *matCellDef="let element"> {{element.autor}} </td>
            </ng-container>
            <ng-container matColumnDef="editora">
                <th mat-header-cell *matHeaderCellDef> Editora </th>
                <td mat-cell *matCellDef="let element"> {{element.editora}} </td>
            </ng-container>
            <ng-container matColumnDef="categoria">
                <th mat-header-cell *matHeaderCellDef> Categoria </th>
                <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
            </ng-container>
            <ng-container matColumnDef="anoPublicacao">
                <th mat-header-cell *matHeaderCellDef> Ano da publicação </th>
                <td mat-cell *matCellDef="let element"> {{element.ano_publicacao | date: 'yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="alugadoPor">
                <th mat-header-cell *matHeaderCellDef> Alugado por: </th>
                <td mat-cell *matCellDef="let element"> {{element.alugadoPor }} </td>
            </ng-container>
            <ng-container matColumnDef="acao">
                <th mat-header-cell *matHeaderCellDef> Ação </th>
                <td mat-cell *matCellDef="let element">
                    <button class="mini-fab" (click)="addEditarLivro(element.id_livro)" mat-mini-fab color="primary" matTooltip="Editar informações">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button class="mini-fab" (click)="deletarLivro(element.id_livro)" mat-mini-fab color="warn" matTooltip="Deletar livro">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </mat-card-content>
</mat-card>